@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
        segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto,
        arial, sans-serif;
}

.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}

.app-region-drag {
    -webkit-app-region: drag;
}

.app-region-no-drag {
    -webkit-app-region: no-drag;
}
